.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}
.full-width {
    width: 100%;
}

div{
    padding-block: 2rem;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

span {
    font-size: large;
}